<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @automaker %>

  <div>
    <div class="mb-3">
      <div class="row">
        <div class="col-md-auto">
          <%= link_to "Editar Fabrica", edit_automaker_path(@automaker) , class: "btn btn-outline-success" %>
        </div>

        <div class="col-md-auto">
          <%= link_to "Listar Fabricas", automakers_path, class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>

    <%= button_to "Deletar Registro", @automaker, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
